.tabList {  
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
.tabListItem {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: default;
  list-style: none;
  font-size: 1.5rem;
}

.tabListActive {
  background-color: lightgray;
}


